@using CarInsurance.ViewModels
@model List<SignupVm>

<div class="row no-gutters m-3">
  <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
    <div class="card-header text-center">
      <h5 class="m-0">Sign-ups</h5>
    </div>
    <div class="card-body">
      @foreach (var signup in Model)
      {
        <input type="hidden" name="Id" value="@signup.Id" />
        <div class="row mb-3">
          <div class="col-3">
            @signup.Quote
          </div>
          <div class="col-2">
            @signup.FirstName
          </div>
          <div class="col-">
            @signup.LastName
          </div>
          <div class="col-4">
            @signup.EmailAddress
          </div>
        </div>
        <hr>
      }
    </div>
  </div>
</div>